@font-face {
    font-family: 'Minecraft';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/minecraft.ttf') format('truetype');
  }
  
  /* CSS to help with removing fixed positions and scrollbars */
  body.lsu-unblocked {
    overflow: auto !important;
    position: static !important;
    width: auto !important;
    height: auto !important;
  }
  
  html.lsu-unblocked {
    overflow: auto !important;
  }
  
  .lsu-removed {
    display: none !important;
  }
  
  #lsu-notification {
    font-family: 'Minecraft', monospace;
  }